src/main/app/maven-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" 
   xmlns:db="http://www.mulesoft.org/schema/mule/db" 
   xmlns:http="http://www.mulesoft.org/schema/mule/http" 
   xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
   xmlns="http://www.mulesoft.org/schema/mule/core"
   xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
   xmlns:spring="http://www.springframework.org/schema/beans" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

   <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />

   <spring:beans>
      <spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database" />
   </spring:beans>

   <db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />

   <flow name="maven-demoFlow">
      <http:listener config-ref="HTTP_Listener_Configuration" path="/maven" doc:name="HTTP" />
      <set-payload value="#['this is the demo']" doc:name="Set Payload" />
   </flow>

   <flow name="retrieveFlights">
      <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP" />
      <db:select config-ref="Derby_Configuration" doc:name="Database">
         <db:parameterized-query>
            <![CDATA[SELECT * FROM FLIGHTS]]>
         </db:parameterized-query>
      </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
        <set-variable variableName="myVar" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[flowVars.myVar]" doc:name="Set Payload"/>
        <set-property propertyName="prop" value="#['this is a prop']" doc:name="Property"/>
        <set-payload value="#[message.outboundProperties.prop]" doc:name="Set Payload"/>
   </flow>
</mule>
